@charset "utf-8";

.header-relative{
	position: relative;
}
.header-title{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
    font-size: 18px;
    color: black;
    line-height: 44px;
	width: calc(100% - 180px);
    margin-left: 90px;
}
#toCity{
	width: 90px;
}
.choosecity{
	line-height: 35px;
	margin-left: 5px;
	line-height: 45px;
	color: black;
}
.sign{
	width: 100%;
	height: 140px;
	margin-top: 4px;
	background: whitesmoke;
	display: flex;
	
}
.bannerimg{
	width: 100%;
	height: 170px;
}
.yourdoctor{
	color: black;
	font-size: 18px;
	padding: 20px 0 0 60px;
}
.title{
	color: black;
	font-size: 14px;
	padding: 2px 0 0 50px;
}
.toSign{
	margin: 14px 0 0 30px; 
	border-radius: 10px;
	line-height: 0.99;
}
.shareAPP{
	margin: 14px 0 0 0px; 
	border-radius: 10px;
	line-height: 0.99;
}
.imgdoc{
	width:10%; 
	height:120px;
	margin-left:calc(10% - 120px);
	padding-top: 20px;
}
.imgdoc img{
	width: 100px; 
	height:100px;
}
