@charset "utf-8";

body{
	/* background: white; */
}
.server-title{
	padding: 0 15px;
	width: 100%;
	line-height: 50px;
	font-size: 17px;
	background: rgb(236, 235, 241);
	margin-bottom: 0;
}

.server-value{
	padding: 10px 15px;
	width: 100%;
	line-height: 30px;
	font-size: 14px;
	background: white;
}
.foot-btn{
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
	height: 50px;
}
.foot-btn button{
	width: 80%;
	height: 40px;
	margin-top: 5px;
	margin-left: 10%;
}
