<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>随访信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/msg.css" />
	</head>
	<body>

		<header class="mui-bar mui-bar-nav header-blue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title bind-title">随访信息</h1>
		</header>
		<div id="app">
			<!-- <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item mui-active" href="#item1">通知</a>
				<a class="mui-control-item" href="#item2">互动</a>
			</div> -->
			<div class="mui-slider-group" id="msgContent" style="display: block;">
	
				<div id="item2" class="mui-slider-item mui-control-content mui-active chat-item-box">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell chat-item" v-for="(it, index) in diseaseList" @click="toChatWindow(it)">
							<p v-text="it"></p>
							<!-- <span class="mui-badge mui-badge-primary" v-if="it.isRead" v-text="it.readNum"></span> -->
						</li>
					</ul>
					
					<!-- <ul class="mui-table-view">
						<li class="mui-table-view-cell chat-item">
							<p>xxx</p>
							<span class="mui-badge mui-badge-primary"></span>
						</li>
					</ul> -->
				</div>

			</div>

			<div id="noContent" style="display: none;">
				<p class="signMsg">暂无随访信息</p>
			</div>
		</div>

		<script src="../../js/mui.js"></script>
		<script src="https://cdn.ronghub.com/RongIMLib-2.4.0.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/common.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: false, //启用右滑关闭功能,
				keyEventBind: {
					backbutton: true //关闭back按键监听
				},
				pullRefresh: {
					container: "#app", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					down: {
						style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
						color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
						height: '50px', //可选,默认50px.下拉刷新控件的高度,
						range: '100px', //可选 默认100px,控件可下拉拖拽的范围
						offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
						auto: false, //可选,默认false.首次加载自动上拉刷新一次
						callback: function() { //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							var ws = plus.webview.currentWebview();
							ws.reload();
							mui('#app').pullRefresh().endPulldownToRefresh(false);
						}
					}
				}
			});
			var app = new Vue({
				el: "#app",
				data: {
					diseaseList: [],
					activeDoc: 0
				},
				methods: {
					toChatWindow: function(it) {
						console.log(it)
						plus.nativeUI.showWaiting("等待中...", {
							"width": "100%",
							"height": "100%",
							"size": "18px",
							"size": "1px"
						});
						
						var goTocompany = plus.webview.create("accompany.html",goTocompany,{},{
							accompanyDetail:it
						});
						plus.webview.show(goTocompany, "slide-in-right", 300)
						plus.nativeUI.closeWaiting();
					}
				}
			});
			var teamCode;

			var chatWindow; // 聊天界面

			mui.plusReady(function() {
				teamCode = plus.storage.getItem("teamCode");

				getStorageDate();
				// 初始化 
				accompanyInit();
				
				
			});


	

			var msgContent = document.getElementById("msgContent");
			var noContent = document.getElementById("noContent");
			
			function accompanyInit() {
				mui.ajax(JTURL + 'jkda/bascontract/list', {
					data:{
						personId: personId,
						token:token,
						status: "2"
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(res) {
						// plus.nativeUI.closeWaiting();
						console.log(JSON.stringify(res));			
						if (res.code == 0) {
							if(res.page.list.length!=0) {
								var disease = res.page.list[0].isSpecial;
								/* app.diseaseList = res.page.list;
								console.log(JSON.stringify(app.diseaseList)) */
								if(disease.indexOf("5")!=-1&&disease.indexOf("4")==-1) {
									app.diseaseList.push('糖尿病');
									console.log("1")
								} else if(disease.indexOf("4")!=-1&&disease.indexOf("5")==-1) {
									app.diseaseList.push('高血压');
									console.log("2")
								} else if(disease.indexOf("5")!=-1&&disease.indexOf("4")!=-1) {
									app.diseaseList.push('高血压','糖尿病');
									console.log("3")
								} else {
									app.diseaseList = [];
								}
							} else {
								noContent.style.display = "block";
							}
							
							console.log(JSON.stringify(app.diseaseList))
							// console.log(disease)
						} else if (res.code == 401) {
							ajaxTokenInvalid();
						} else {
							otherErr();
						}
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						ajaxError();
					}
				});
			}

		
			// 刷新
			window.addEventListener("refresh", function() {
				// getStorageDate();
				// msgInit();
				var ws = plus.webview.currentWebview();
				ws.reload();
			});
		</script>
	</body>

</html>
